.todoItemContainer {
    background-color: rgba(203, 203, 203, 0.2);
    margin-bottom: 15px;
    width: 100%;
    padding: 25px 20px;
    border-radius: 15px;
}

.todoItemTitle {
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 15px;
}

.todoItemDescription {
    font-size: 15px;
    margin-bottom: 15px;
}

.todoItemButtonContainer {
    display: flex;
    justify-content: right;
    gap: 5px;
}